.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(241 249 249 / 70%);
    position: fixed;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: #000;
    background-color: #e1f2fb;
    border-radius: 1em;
    word-wrap: break-word;
    box-shadow: 5px 5px #f1f9f9;
}

.container h1 {
    margin-bottom: 0.5em;
}

.buttons {
    margin-top: 0.5em;
}

button {
    outline: none;
    border: none;
    width: 5em;
    height: 2em;
    border-radius: 0.5em;
    background-color: #f1f9f9;
    cursor: pointer;
}

.container input {
    border-radius: 0.5em;
    margin-right: 0.5em;
    height: 2em;
    width: 10em;
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: 3px 3px #e1f2fb;
}